export DATABASE_URL=postgres://shorty:mooi-wachtwoord@localhost:5432/shorty

export SHORTY_HOST=127.0.0.1
export SHORTY_PORT=8080
export SHORTY_VISIBLE_HOST=http://$SHORTY_HOST:$SHORTY_PORT/
export SHORTY_DATABASE_URL=$DATABASE_URL
